@defaultPadding: 1em;
@primaryColor: #00D780;
@textSelectionColor: #aaa;

body {
	background: #333;
    font-family: 'Nunito', sans-serif;
    line-height: 1.64em;
}

a {
    color: @primaryColor;
}

h2 {
    font-size: 21px;
    color: #ddd;
}

::selection {
    background-color: @textSelectionColor;
    color: #fff;
}
::-moz-selection {
    background-color: @textSelectionColor;
    color: #fff;
}
::-webkit-selection {
    background-color: @textSelectionColor;
    color: #fff;
}

.button {
    display: block;
    color: #333;
    background: lighten(@primaryColor, 10%);
    text-align: center;
    text-decoration: none;
    margin: @defaultPadding;
    padding: @defaultPadding 0;
    font-size: 1rem;
    border-radius: 8px;
    &.white {
        background: #eee;
    }
}

.dropdown {
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #555;
    padding: .5em 2em .5em 1em;
    &:after {
        content: '';
        position: absolute;
        top: 40%; right: 1em;
        display: block;
        width: 0;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 5px;
        border-color: transparent transparent transparent #555;
    }
    &:hover {
        border-color: #666;
        &:after {
            border-color: transparent transparent transparent #aaa;
        }
    }
    & + .dropdown {
        margin-left: 1em;
    }
}

@options-width: 300px;

.scheme-options {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: @options-width;
    box-sizing: border-box;
    h2 { padding-left: 1em; }
}

.preview {
    position: absolute;
    top: 0; left: @options-width;
    right: 0;
    height: 100%;
    background: #222;
    box-sizing: border-box;
    padding: 1em 40px;
    
    h2 { color: #777; }
}

//* /* / */ */

.scheme-options form {
    @inputPadding: .5em;

    .input-group {
        position: relative;
        overflow: auto;
        padding: 0 1em;
        margin-top: 1em;
    }
    label, input[type|=text] {
        display: block;
        width: 100%;
    }
    label {
        position: relative;
        color: rgba(255,255,255,0.6);
        padding-left: @inputPadding;
        &:after {
            display: block;
            position: absolute;
            top: 4px; right: 1em;
            content: 'i';
            background: #777;
            width: 15px; height: 15px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            color: #333;
            border-radius: 15px;
            cursor: help;
            opacity: 0.6;
        }
    }
    input[type|=text] {
        background: #666;
        border: 0;
        outline:0;
        border-radius: 8px;
        padding: @inputPadding;
        font-family: 'Nunito', sans-serif;
        &.error { background: #694040; }
        &:active,
        &:focus { background: #888 }
    }
    input[type|=color] {
        /*border: none;
        outline: 0;
        background-color: #333;
        padding: 0;
        display: block;
        -webkit-appearance: none;
        border-radius: 3px;
        cursor: pointer;*/
    }
}

.options-primary-buttons {
    position: absolute;
    bottom: 0; left: 0; right: 0;
}

///

.lang-picker {
    list-style-type: none;
    width: 100%;
    padding: 0; margin: 0;
    position: relative;
    overflow: auto;
    li {
        float: left;
        width: 33.33%;
        box-sizing: border-box;
        text-align: center;
    }
    a {
        margin: 0; padding: 0;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
    }
}

///

.pre, code {
    font-family: 'Menlo';
}